Adafruit-Blinka==7.0.0
adafruit-circuitpython-busdevice==5.1.7
adafruit-circuitpython-mcp4725==1.4.5
adafruit-circuitpython-mlx90640==1.2.6
adafruit-circuitpython-register==1.9.8
adafruit-circuitpython-scd30==2.2.2
adafruit-circuitpython-seesaw==1.10.6
adafruit-circuitpython-si7021==3.3.7
adafruit-circuitpython-tca9548a==0.5.2
adafruit-circuitpython-typing==1.0.0
Adafruit-PlatformDetect==3.19.6
Adafruit-PureIO==1.1.9
blinker==1.4
click==8.0.3
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
importlib-metadata==4.11.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
picamera==1.13
pkg-resources==0.0.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.2
RPi.GPIO==0.7.1
SQLAlchemy==1.4.31
sysv-ipc==1.1.0
typing-extensions==4.1.1
uWSGI==2.0.20
Werkzeug==2.0.3
zipp==3.7.0
